html {
    scroll-behavior: smooth;
  }
.button2 {
    max-width: 375px;
    height: 85px;
    font-size: 25px;
    text-align: center;
    padding-top: 17px;
    background-color: #dfbd8bca;
    opacity: 70%;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.button2:hover {
    opacity: 100%;
    transition: .4s ease;
}


.container { /*definerar bredd, gap, marginaler och flex-egenskaper*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: clamp(300px 80% 1300px);
    gap: 50px;
    margin: 2rem;
}
.container .info {
    background-color: #F54D2A;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}
.container .info .link {
    background:white;
    color: black;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
    border-radius: 5px;
    transition: .4s ease;
}
.container .info .link:hover {
    text-decoration: underline;
}
.container .info .shortcut {
    text-decoration: underline;
    font-style: italic;
    color: white;
}
.container .data {
    background-color: #D5D7D4;
    padding: 1rem;
    border-radius: 15px;
    max-width: 375px;
}
.container .data a {
    color: black;
    text-decoration: underline;
}
.container .time {
    background-color: #dfbd8bca;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}

.phone-container { /*definerar bredd, gap, marginaler och flex-egenskaper*/
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: clamp(300px 80% 1300px);
    gap: 50px;
    margin: 2rem;
}
.phone-container .info {
    background-color: #F54D2A;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}
.phone-container .info .link {
    background:white;
    color: black;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
    border-radius: 5px;
    transition: .4s ease;
}
.phone-container .info .link:hover {
    text-decoration: underline;
}
.phone-container .info .shortcut {
    text-decoration: underline;
    font-style: italic;
    color: white;
}
.phone-container .data {
    background-color: #D5D7D4;
    padding: 1rem;
    border-radius: 15px;
    max-width: 375px;
}
.phone-container .data a {
    color: black;
    text-decoration: underline;
}
.phone-container .time {
    background-color: #dfbd8bca;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parent img {
    max-width: 370px;
}

@media only screen and (max-width: 600px) {
    .container .data {
        width: 100%;
    }
    .parent {
        width: 100%;
    }
    .phone-container {
        display: flex;
    }
    .container {
        display: none;
    }
}