.container { /*definerar bredd, gap, marginaler och flex-egenskaper*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: clamp(300px 80% 1300px);
    gap: 50px;
    margin: 2rem;
}
.container .info {
    background-color: #F54D2A;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}
.container .info a {
    background:white;
    color: black;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
    border-radius: 5px;
    transition: .4s ease;
}
.container .info a:hover {
    text-decoration: underline;
}
.container .data {
    background-color: #D5D7D4;
    padding: 1rem;
    border-radius: 15px;
    max-width: 370px;
}
.container .data a {
    color: black;
    text-decoration: underline;
}
.container .time {
    background-color: #dfbd8bca;
    padding: 1rem;
    border-radius: 15px;
    max-width: 700px;
    min-height: 175px;
}
.parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parent img {
    max-width: 370px;
}

@media only screen and (max-width: 600px) {
    .container .data {
        width: 100%;
    }
    .parent {
        width: 100%;
    }
}