/* OM OSS */
.about-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-wrapper .about {
    background-color: #F54D2A;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    color:white;
    max-width: 560px;
    gap: 2rem;
}
.about-wrapper .about a {
    text-decoration: underline;
    color: white;
}

.about-wrapper .behind {
    background-color: #D5D7D4;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    color: #1a1a1a;
    max-width: 560px;
    gap: 2rem;
}
.about-wrapper .behind ul {
    padding-left: 2rem;
}

.about-wrapper .believe {
    background-color: #a9c5a0;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    color: #1a1a1a;
    max-width: 1150px;
    gap: 2rem;
}

/* STYRELSEGALLERIET */
.styrelsen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.styrelsen-content {
    /* width: clamp(300px, 80%, 1350px); */
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}
/*Text & Bild egenskaper*/
.styrelsen-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}
.lada {
    padding: 15px;
    background-color: #D5D7D4;
    border-radius: 15px;
    width: 200px;
    height: 350px;
}
.lada:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.lada h3 {
    font-weight: 800;
    margin-bottom: 8px;
}
.lada h5 {
    font-weight: 800;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .lada {
        height: 50%;
        width: 50%;
    }
}